<%- include('homeHeader'); -%>
        <!-- Page Header-->
        <header class="masthead" style="background-image: url('/assets/img/about-bg.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>Mr.Blogger</h1>
                            <span class="subheading">About Mr.Blogger</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>This is an installable Blogging app that lets a user delve into a topic of choice and write a blog post, or read one of the already uploaded Blog posts.</p>
                        <p>In order to write your very own Blog post, you can conveniently login using one of your social accounts, and start penning your thoughts!</p>
                        <p>You can edit your Blog post at any time, as long as you're logged in. If you ever feel like your post is no longer a valid representation of your thoughts, you can also delete it at any instant of time.</p>
                        <p>You can also provide your opinions about any post, in the comments' section of every post, anonymously!
                            Your comment will always have a unique icon accompanying it.</p>
                    </div>
                </div>
            </div>
        </main>
<%- include('footer') -%>